<!doctype html>
<html lang="en">
<head>
  <%- include('partials/header') %>
</head>
<body class="dark">
  <%- include('partials/navbar') %>

  <div class="container py-md-5 container--narrow footer-padding">
    <div class="text-center">
      <h4>Whoops! We cannot find that post :(</h4>
      <img src="/images/post-not-found-state.png" height="275" alt="..." style="margin-top: 25px;">
      <p class="lead text-light" style="padding: 0 10px; margin-top: 30px;">You can always visit the <a href="/">homepage</a> to get a fresh start.</p>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>